
canvas{
  margin-bottom: 70px;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.columns {
  margin-top: 10px;
  margin-bottom: 10px;
}
.name a{
  font-family: "Pinyon Script", Arial;
  color: #fff;
  margin-left: 15px;
  font-size: 2em;
}
.name a:hover{
  color: #fff;
}
.record {
  color: red;
}
.graph {
  height: 900;
}
td {
  font-size: 20pt;
}
